STPC.DynamicForms.Web.RT/Service References/Services.Request/RequestService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://STPC.LiSim.Abc" elementFormDefault="qualified" targetNamespace="http://STPC.LiSim.Abc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6615/RequestService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:6615/RequestService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/STPC.DynamicForms.Web.Models" />
  <xs:complexType name="ArrayOfRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Request" nillable="true" type="tns:Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequest" nillable="true" type="tns:ArrayOfRequest" />
  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element minOccurs="0" name="AplicationNameId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AssignedTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormId" type="ser:guid" />
      <xs:element minOccurs="0" name="PageFlowId" type="ser:guid" />
      <xs:element minOccurs="0" name="PageFlowState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestId" type="xs:int" />
      <xs:element minOccurs="0" name="Updated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkFlowState" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:complexType name="ArrayOfFormPageActions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FormPageActions" nillable="true" type="tns:FormPageActions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFormPageActions" nillable="true" type="tns:ArrayOfFormPageActions" />
  <xs:complexType name="FormPageActions">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayOrder" type="xs:int" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormPageActionsByStatesList" nillable="true" type="tns:ArrayOfFormPageActionsByStates" />
      <xs:element minOccurs="0" name="FormPageActionsRolesList" nillable="true" type="tns:ArrayOfFormPageActionsRoles" />
      <xs:element minOccurs="0" name="FormStates" nillable="true" type="tns:FormStates" />
      <xs:element minOccurs="0" name="FormStatesUid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="GoToPageId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="IsAssociated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsExecuteStrategy" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPrivateResource" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageId" type="ser:guid" />
      <xs:element minOccurs="0" name="Resource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Save" type="xs:boolean" />
      <xs:element minOccurs="0" name="SendHierarchyIdParam" type="xs:boolean" />
      <xs:element minOccurs="0" name="SendRequestIdParam" type="xs:boolean" />
      <xs:element minOccurs="0" name="SendUserParam" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowFailureMessage" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowSuccessMessage" type="xs:boolean" />
      <xs:element minOccurs="0" name="StrategyID" type="xs:int" />
      <xs:element minOccurs="0" name="SuccessMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormPageActions" nillable="true" type="tns:FormPageActions" />
  <xs:complexType name="ArrayOfFormPageActionsByStates">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FormPageActionsByStates" nillable="true" type="tns:FormPageActionsByStates" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFormPageActionsByStates" nillable="true" type="tns:ArrayOfFormPageActionsByStates" />
  <xs:complexType name="FormPageActionsByStates">
    <xs:sequence>
      <xs:element minOccurs="0" name="FormPageActions" nillable="true" type="tns:FormPageActions" />
      <xs:element minOccurs="0" name="FormPageActionsUid" type="ser:guid" />
      <xs:element minOccurs="0" name="FormStates" nillable="true" type="tns:FormStates" />
      <xs:element minOccurs="0" name="FormStatesUid" type="ser:guid" />
      <xs:element minOccurs="0" name="Uid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormPageActionsByStates" nillable="true" type="tns:FormPageActionsByStates" />
  <xs:complexType name="FormStates">
    <xs:sequence>
      <xs:element minOccurs="0" name="FormPageActionsByStatesList" nillable="true" type="tns:ArrayOfFormPageActionsByStates" />
      <xs:element minOccurs="0" name="FormPageActionsList" nillable="true" type="tns:ArrayOfFormPageActions" />
      <xs:element minOccurs="0" name="FormPageByStates" nillable="true" type="tns:ArrayOfFormPageByStates" />
      <xs:element minOccurs="0" name="StateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateSymbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormStates" nillable="true" type="tns:FormStates" />
  <xs:complexType name="ArrayOfFormPageByStates">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FormPageByStates" nillable="true" type="tns:FormPageByStates" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFormPageByStates" nillable="true" type="tns:ArrayOfFormPageByStates" />
  <xs:complexType name="FormPageByStates">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/STPC.DynamicForms.Web.Models" minOccurs="0" name="FormPage" nillable="true" type="q1:FormPage" />
      <xs:element minOccurs="0" name="FormPageUid" type="ser:guid" />
      <xs:element minOccurs="0" name="FormStates" nillable="true" type="tns:FormStates" />
      <xs:element minOccurs="0" name="FormStatesUid" type="ser:guid" />
      <xs:element minOccurs="0" name="Uid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormPageByStates" nillable="true" type="tns:FormPageByStates" />
  <xs:complexType name="Form">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/STPC.DynamicForms.Web.Models" minOccurs="0" name="Pages" nillable="true" type="q2:ArrayOfFormPage" />
      <xs:element minOccurs="0" name="Reports" nillable="true" type="tns:ArrayOfReport" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Uid" type="ser:guid" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Form" nillable="true" type="tns:Form" />
  <xs:complexType name="ArrayOfReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Report" nillable="true" type="tns:Report" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReport" nillable="true" type="tns:ArrayOfReport" />
  <xs:complexType name="Report">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDefaultView" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportPath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Report" nillable="true" type="tns:Report" />
  <xs:complexType name="ArrayOfPageEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PageEvent" nillable="true" type="tns:PageEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPageEvent" nillable="true" type="tns:ArrayOfPageEvent" />
  <xs:complexType name="PageEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldValue" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/STPC.DynamicForms.Web.Models" minOccurs="0" name="FormPage" nillable="true" type="q3:FormPage" />
      <xs:element minOccurs="0" name="FormPageUid" type="ser:guid" />
      <xs:element minOccurs="0" name="ListenerField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListenerFieldId" type="ser:guid" />
      <xs:element minOccurs="0" name="PageFieldUid" type="ser:guid" />
      <xs:element minOccurs="0" name="SourceField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageEvent" nillable="true" type="tns:PageEvent" />
  <xs:complexType name="ArrayOfPanel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Panel" nillable="true" type="tns:Panel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPanel" nillable="true" type="tns:ArrayOfPanel" />
  <xs:complexType name="Panel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Columns" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DivCssStyle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/STPC.DynamicForms.Web.Models" minOccurs="0" name="Page" nillable="true" type="q4:FormPage" />
      <xs:element minOccurs="0" name="PanelFields" nillable="true" type="tns:ArrayOfPageField" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Uid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Panel" nillable="true" type="tns:Panel" />
  <xs:complexType name="ArrayOfPageField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PageField" nillable="true" type="tns:PageField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPageField" nillable="true" type="tns:ArrayOfPageField" />
  <xs:complexType name="PageField">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cols" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EditR" nillable="true" type="tns:ArrayOfRole" />
      <xs:element minOccurs="0" name="EditRoles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmptyOption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorExtensions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormFieldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormFieldPrompt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormFieldType" nillable="true" type="tns:PageFieldType" />
      <xs:element minOccurs="0" name="FormFieldType_Uid" type="ser:guid" />
      <xs:element minOccurs="0" name="IsEmptyOption" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsHidden" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsMultipleSelect" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="ListSize" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LiteralText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxSize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxSizeBD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MinSize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Options" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionsCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionsMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionsWebServiceUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orientation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Panel" nillable="true" type="tns:Panel" />
      <xs:element minOccurs="0" name="PanelColumn" type="xs:int" />
      <xs:element minOccurs="0" name="PanelColumnSortOrder" type="xs:int" />
      <xs:element minOccurs="0" name="PanelUid" type="ser:guid" />
      <xs:element minOccurs="0" name="Queryable" type="xs:boolean" />
      <xs:element minOccurs="0" name="Rows" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ShowDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
      <xs:element minOccurs="0" name="Style" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ToolTip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uid" type="ser:guid" />
      <xs:element minOccurs="0" name="ValidExtensions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidationStrategyID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ViewR" nillable="true" type="tns:ArrayOfRole" />
      <xs:element minOccurs="0" name="ViewRoles" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageField" nillable="true" type="tns:PageField" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="AplicationName" nillable="true" type="tns:AplicationName" />
      <xs:element minOccurs="0" name="AplicationNameId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EditFields" nillable="true" type="tns:ArrayOfPageField" />
      <xs:element minOccurs="0" name="PerformanceIndicator" nillable="true" type="tns:ArrayOfPerformanceIndicator" />
      <xs:element minOccurs="0" name="Rolename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Roles" nillable="true" type="tns:ArrayOfObjectPermissions" />
      <xs:element minOccurs="0" name="UsersInRole" nillable="true" type="tns:ArrayOfUser" />
      <xs:element minOccurs="0" name="ViewFields" nillable="true" type="tns:ArrayOfPageField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="AplicationName">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdCampaign" nillable="true" type="tns:ArrayOfAdCampaign" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:ArrayOfCategory" />
      <xs:element minOccurs="0" name="Hierarchy" nillable="true" type="tns:ArrayOfHierarchy" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MenuItem" nillable="true" type="tns:ArrayOfMenuItem" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerformanceIndicator" nillable="true" type="tns:ArrayOfPerformanceIndicator" />
      <xs:element minOccurs="0" name="Report" nillable="true" type="tns:ArrayOfReport" />
      <xs:element minOccurs="0" name="Request" nillable="true" type="tns:ArrayOfRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AplicationName" nillable="true" type="tns:AplicationName" />
  <xs:complexType name="ArrayOfAdCampaign">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdCampaign" nillable="true" type="tns:AdCampaign" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdCampaign" nillable="true" type="tns:ArrayOfAdCampaign" />
  <xs:complexType name="AdCampaign">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplyToChilds" type="xs:boolean" />
      <xs:element minOccurs="0" name="BeginDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hierarchy_id" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="AdCampaign" nillable="true" type="tns:AdCampaign" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Options" nillable="true" type="tns:ArrayOfOption" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfOption">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Option" nillable="true" type="tns:Option" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOption" nillable="true" type="tns:ArrayOfOption" />
  <xs:complexType name="Option">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Category" />
      <xs:element minOccurs="0" name="Category_Uid" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uid" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Option" nillable="true" type="tns:Option" />
  <xs:complexType name="ArrayOfHierarchy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hierarchy" nillable="true" type="tns:Hierarchy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHierarchy" nillable="true" type="tns:ArrayOfHierarchy" />
  <xs:complexType name="Hierarchy">
    <xs:sequence>
      <xs:element minOccurs="0" name="Children" nillable="true" type="tns:ArrayOfHierarchy" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Level" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeType" type="xs:int" />
      <xs:element minOccurs="0" name="Parent" nillable="true" type="tns:Hierarchy" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Hierarchy" nillable="true" type="tns:Hierarchy" />
  <xs:complexType name="ArrayOfMenuItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenuItem" nillable="true" type="tns:MenuItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenuItem" nillable="true" type="tns:ArrayOfMenuItem" />
  <xs:complexType name="MenuItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AplicationName" nillable="true" type="tns:AplicationName" />
      <xs:element minOccurs="0" name="AplicationNameId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Childs" nillable="true" type="tns:ArrayOfMenuItem" />
      <xs:element minOccurs="0" name="Controller" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayOrder" type="xs:int" />
      <xs:element minOccurs="0" name="FormState" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="FormUid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentMenuItemUid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Uid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuItem" nillable="true" type="tns:MenuItem" />
  <xs:complexType name="ArrayOfPerformanceIndicator">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PerformanceIndicator" nillable="true" type="tns:PerformanceIndicator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerformanceIndicator" nillable="true" type="tns:ArrayOfPerformanceIndicator" />
  <xs:complexType name="PerformanceIndicator">
    <xs:sequence>
      <xs:element minOccurs="0" name="AplicationName" nillable="true" type="tns:AplicationName" />
      <xs:element minOccurs="0" name="AplicationNameId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="Hierarchy" nillable="true" type="tns:Hierarchy" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IndicatorType" type="xs:int" />
      <xs:element minOccurs="0" name="LastModifiedBy" type="ser:guid" />
      <xs:element minOccurs="0" name="Modified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="tns:Role" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="ViolationMaxvalue" type="xs:int" />
      <xs:element minOccurs="0" name="ViolationMinvalue" type="xs:int" />
      <xs:element minOccurs="0" name="WarningMaxValue" type="xs:int" />
      <xs:element minOccurs="0" name="WarningMinValue" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerformanceIndicator" nillable="true" type="tns:PerformanceIndicator" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AplicationNameId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailedPasswordAnswerAttemptCount" type="xs:int" />
      <xs:element minOccurs="0" name="FailedPasswordAnswerAttemptWindowStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FailedPasswordAttemptCount" type="xs:int" />
      <xs:element minOccurs="0" name="FailedPasswordAttemptWindowStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GivenName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hierarchy" nillable="true" type="tns:Hierarchy" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsApproved" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLockedOut" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOnLine" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsResetPassword" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastActivityDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastLockedOutDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastLoginDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastPasswordChangedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone_LandLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone_Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Roles" nillable="true" type="tns:ArrayOfRole" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vacations_End" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Vacations_Start" nillable="true" type="xs:dateTime" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfObjectPermissions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObjectPermissions" nillable="true" type="tns:ObjectPermissions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObjectPermissions" nillable="true" type="tns:ArrayOfObjectPermissions" />
  <xs:complexType name="ObjectPermissions">
    <xs:sequence>
      <xs:element minOccurs="0" name="ObjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Permission" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="tns:Role" />
      <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectPermissions" nillable="true" type="tns:ObjectPermissions" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="PageFieldType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ControlType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorExtensions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMsgRegEx" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMsgRequired" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fields" nillable="true" type="tns:ArrayOfPageField" />
      <xs:element minOccurs="0" name="RegExDefault" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Uid" type="ser:guid" />
      <xs:element minOccurs="0" name="ValidExtensions" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageFieldType" nillable="true" type="tns:PageFieldType" />
  <xs:complexType name="ArrayOfFormPageActionsRoles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FormPageActionsRoles" nillable="true" type="tns:FormPageActionsRoles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFormPageActionsRoles" nillable="true" type="tns:ArrayOfFormPageActionsRoles" />
  <xs:complexType name="FormPageActionsRoles">
    <xs:sequence>
      <xs:element minOccurs="0" name="FormPageActionsUid" type="ser:guid" />
      <xs:element minOccurs="0" name="Rolename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormPageActionsRoles" nillable="true" type="tns:FormPageActionsRoles" />
</xs:schema>