STPC.DynamicForms.Web/Service References/Services.Request/RequestService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6615/RequestService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:6615/RequestService.svc?xsd=xsd3" namespace="http://STPC.LiSim.Abc" />
  <xs:import schemaLocation="http://localhost:6615/RequestService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/STPC.DynamicForms.Core" />
  <xs:import schemaLocation="http://localhost:6615/RequestService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:6615/RequestService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/STPC.DynamicForms.Services.RequestService" />
  <xs:element name="GetRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="values" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://STPC.LiSim.Abc" minOccurs="0" name="GetRequestResult" nillable="true" type="q2:ArrayOfRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestDynamic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/STPC.DynamicForms.Core" minOccurs="0" name="values" nillable="true" type="q3:ArrayOfReportParameters" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ParametersRequestTable" nillable="true" type="q4:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="RequesType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestDynamicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/STPC.DynamicForms.Core" minOccurs="0" name="GetRequestDynamicResult" nillable="true" type="q5:MyViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestByProcedure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iStoreProcedureName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestByProcedureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/STPC.DynamicForms.Core" minOccurs="0" name="GetRequestByProcedureResult" nillable="true" type="q6:MyViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndicatorByProcedure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storedProcedure" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndicatorByProcedureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/STPC.DynamicForms.Core" minOccurs="0" name="GetIndicatorByProcedureResult" nillable="true" type="q7:MyViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestsByParamProcedure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iStoreProcedureName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestsByParamProcedureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/STPC.DynamicForms.Core" minOccurs="0" name="GetRequestsByParamProcedureResult" nillable="true" type="q8:MyViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchemaTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchemaTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/STPC.DynamicForms.Core" minOccurs="0" name="GetSchemaTableResult" nillable="true" type="q9:MyViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAtributesHierarchy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listFieldsValues" nillable="true" type="q10:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAtributesHierarchyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAtributesHierarchy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listFieldsValues" nillable="true" type="q11:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAtributesHierarchyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRecordIntoAtributeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRecordIntoAtributeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindRecordIntoAtributeTableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://STPC.LiSim.Abc" minOccurs="0" name="request" nillable="true" type="q12:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateRequestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePageFlowStepInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://STPC.LiSim.Abc" minOccurs="0" name="request" nillable="true" type="q13:Request" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="formPageId" type="q14:guid" />
        <xs:element minOccurs="0" name="formName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePageFlowStepInstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatePageFlowStepInstanceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewPageFlowStepInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://STPC.LiSim.Abc" minOccurs="0" name="request" nillable="true" type="q15:Request" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/STPC.DynamicForms.Services.RequestService" minOccurs="0" name="pageData" nillable="true" type="q16:FormData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewPageFlowStepInstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewPageFlowStepInstanceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageFlowStepInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestId" type="xs:int" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="formPageId" type="q17:guid" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="PageFlowId" type="q18:guid" />
        <xs:element minOccurs="0" name="formName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageFlowStepInstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/STPC.DynamicForms.Core" minOccurs="0" name="GetPageFlowStepInstanceResult" nillable="true" type="q19:ArrayOfValues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iRequestId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://STPC.LiSim.Abc" minOccurs="0" name="GetRequestByIdResult" nillable="true" type="q20:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://STPC.LiSim.Abc" minOccurs="0" name="request" nillable="true" type="q21:Request" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="formPageId" type="q22:guid" />
        <xs:element minOccurs="0" name="formName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDecisionEngineResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlDecisionEngineResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="requestId" type="xs:int" />
        <xs:element minOccurs="0" name="updatedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tableToInsert" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDecisionEngineResultResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFormPageActionsByState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pageId" type="q23:guid" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="formStateId" type="q24:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFormPageActionsByStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://STPC.LiSim.Abc" minOccurs="0" name="GetUserFormPageActionsByStateResult" nillable="true" type="q25:ArrayOfFormPageActions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>