STPC.DynamicForms.Web/Service References/Services.Request/RequestService51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/STPC.DynamicForms.Services.RequestService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/STPC.DynamicForms.Services.RequestService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6615/RequestService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:6615/RequestService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="FormData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FormId" type="ser:guid" />
      <xs:element minOccurs="0" name="FormName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormPageId" type="ser:guid" />
      <xs:element minOccurs="0" name="FormPageName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PageFields" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="PanelId" type="ser:guid" />
      <xs:element minOccurs="0" name="PanelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormData" nillable="true" type="tns:FormData" />
</xs:schema>